<div class="profile-edit-form">
    <%= form_for(@profile, url: profiles_path) do |f| %>
        <%= f.label :fname, "First Name: (required)" %><br>
        <%= f.text_area :fname, size: "40x1", style:"resize: none;"%><br>
        <%= f.label :lname, "Last Name: (required)" %><br>
        <%= f.text_area :lname, size: "40x1", style:"resize: none;"%><br>
        <%= f.label :bio, "About You:"%><br>
        <%= f.text_area :bio, size: "70x15", style:"resize: none;"%><br>
        <%= f.label :picture, "Profile Pic"%><br>
        <%= f.file_field :picture %><br>
        <%= f.submit "Update Profile" %>
    <% end %>
</div>