<div class='main'>
    <div class='profile-info'>
        <div class='pic'>
            <% if !@profile.picture.attached? %>
                <% @profile.picture.attach(io: File.open("public/images/profile-pics/blank.png"), filename: 'blank.png', content_type: 'image/png') %>
            <% end %>
                <img src="<%= url_for(@profile.picture) %>" width="256px" height="256px" >
        </div>   
        <div class='profile-description'>
            <div class='names'>
                <p><%= @profile.fname %> <%= @profile.lname %></p>
            </div>
            <div class='username'>
                <p>@<%= @profile.username %></p>
            </div>
            <div class='bio'>
                <p><%= @profile.bio %></p>
            </div>
        </div>
    </div>
    <div class='posts-section'>
    <p>Timeline</p>
        <% @posts.each_with_index do |p,index| %>
            <div class='post' id="active-post--<%= p.id %>" onclick="clickHandler(<%= p.id %>)">
                <div class='post-title'>
                    <%= p.title %>
                </div>
                <div class='outter-wrapper'>
                    <div class='post-pic'>
                        <img src='<%= url_for(p.image) %>' class='pic'>
                    </div>
                </div>
                <div class='post-details'>
                    <%= p.description %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script>
lightbox = null
if(!lightbox){
    lightbox = document.createElement('div')
    lightbox.id = 'lightbox'
    document.body.appendChild(lightbox)
}
allLightboxes = document.body.querySelectorAll('div#lightbox')
allLightboxes.forEach(l => {
    if(l.className != "active"){
        delete(l)
    }
});

async function clickHandler(post_id){
    let image = document.getElementById("active-post--" + post_id)
    
    lightbox.classList.add('active')
    const outerimg = document.createElement('div')
    outerimg.classList.add('outerimg-active')

    const img = document.createElement('img')
    outerimg.appendChild(img)

    const desc = document.createElement('div')
    desc.classList.add('activeDescription')

    const title = document.createElement('h1')
    title.innerText = image.querySelector('.post-title').innerText
    desc.appendChild(title)

    const details = document.createElement('p')
    details.innerText = image.querySelector('.post-details').innerText
    desc.appendChild(details)

    const comment_box = document.createElement('div')
    comment_box.classList.add('comment-box')
    
    let comment_title, comment_body, indv_comment

    console.log("<%= "index".to_i %>")

    const comments = await $.ajax("/posts/" + post_id + "/comments").promise()
    
    console.log(comments)
    comments.forEach(comment => {
        indv_comment = document.createElement('div')
        indv_comment.classList.add('comment-indv')
        comment_title = document.createElement('div')
        comment_title_link = document.createElement('a')
        comment_title.classList.add('comment-title')
        comment_title_link.href = "/profile/" + comment.profile.id
        comment_title.innerText = "@" + comment.profile.username
        comment_title_link.appendChild(comment_title)
        indv_comment.appendChild(comment_title_link)

        comment_body = document.createElement('div')
        comment_body.classList.add('comment-body')
        comment_body.innerText = comment.details
        indv_comment.appendChild(comment_body)
        comment_box.appendChild(indv_comment)
    });

    desc.appendChild(comment_box)

    img.src = image.querySelector('img').src
    while(lightbox.firstChild){
        lightbox.removeChild(lightbox.firstChild)
    }
    lightbox.appendChild(outerimg)
    lightbox.appendChild(desc)
}

lightbox.addEventListener('click', e => {
    if(e.target != e.currentTarget) return
    lightbox.classList.remove('active')
})

$(document).ready(function(){
  $('.post').hover(
    function(){ 
      $(this).addClass('hover') 
      $(".hover .post-details").slideDown("fast")
  },
    function(){
       $(".hover .post-details").slideUp("fast")
       $(this).removeClass('hover')
    },
  )
});
</script>