<!DOCTYPE html>
<html>
  <head>
    <title>Craftolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='topnav'>
      <div class='left-side'>
        <a href="/" class='logo'><span style="color:#D03175;">Craft</span>olio  |</a>
        <div class='links'>
          <!-- if the user is signed in they can visit their profile (if they have one), or create one (if they dont) -->
          <% if user_signed_in? %>
            <% if !Profile.find_by(username: current_user.username) %>
              <%= link_to 'Create Profile', "/profiles/new", class: 'links' %> 
              &nbsp&nbsp|
            <% else %>
              <a href='/profile/<%= Profile.find_by(username: current_user.username).id %>' class='links'>My Profile</a>
              &nbsp&nbsp|
            <% end %>
          <% end %>
          <a href='/profiles' class='links'>Profiles</a>
          &nbsp&nbsp|
          <a href='/contact' class='links'>Contact Us</a>
        </div>
      </div>
      <div class='right-side'>
        <div class='user-actions'>
          <!-- if the user is signed in, they have the option to sign out, and if they aren't, they can sign in or register -->
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'action-link-sign' %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: 'action-link-sign' %>
            <%= link_to 'Register', new_user_registration_path, class: 'action-link-register' %>
          <% end %>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
